---
http_interactions:
- request:
    method: post
    uri: https://stage.billing.vanta.lat/api/v1/invoices
    body:
      encoding: UTF-8
      string: '{"customer_doc_type":"ruc","customer_doc_number":"20614625237","customer_name":"Alonzo
        y Tafoya","customer_address":"Apartamento Jerónimo Arias 6, Viladecans, Cat
        00350","currency":"PEN","items":[{"description":"Producto de prueba","quantity":2.0,"item_type":"product","unit_price":100.0,"tax_type":"gravado"}]}'
    headers:
      Authorization:
      - "<BILLING_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"detail":"Invalid or inactive API key"}'
  recorded_at: Mon, 09 Mar 2026 01:11:21 GMT
recorded_with: VCR 6.4.0
